<!--<div class="container">-->
    <!--<div class="inner">-->
        <!--<div id="nav-path" class="navpath" style="padding:15px 15px">-->
            <!--<h5> Powered By <span style="font-weight: bold">Beacon<span style="color: #36B1DA">Stac</span></span></h5>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div id="nav-path" class="navpath"><!-- id is needed for treeview function! -->
    <ul>
        <li class="footer">
            <h5> Powered By <span style="font-weight: bold">Beacon<span style="color: #36B1DA">Stac</span></span></h5>
        </li>
    </ul>
</div>