<footer>

  <!-- Bootstrap JS -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/mobstac.js"></script>

    <script type="text/javascript" src="/docs/references/ios/js/script.js"></script>
  
  Powered By <span style="font-weight: bold">Beacon<span style="color: #36B1DA">Stac</span></span>
</footer>