<header class="primary-header">
	<meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css" media="screen">
    <link rel="stylesheet" href="/docs/references/ios/css/style.css"/ media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script type="text/javascript" href="/javascripts/jquery-1.11.3.js"></script>

    <!-- Hubspot -->
    <script type="text/javascript">
        (function(d,s,i,r) { if (d.getElementById(i)){return;} var n=d.createElement(s),e=d.getElementsByTagName(s)[0]; n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/300036.js'; e.parentNode.insertBefore(n, e); })(document,"script","hs-analytics",300000);
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53058972-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->

    <title>Beaconstac Docs by Beaconstac</title>

    <div class="row ms-header">
        <div class="large-12 columns">
            <div class="large-4 columns" style="margin-top:4px;">
                <a class="beaconstac-logo" href="http://beaconstac.com/">
                    <img src="/images/beaconstac_Logo_White.png"/>
                </a>
            </div>
            <div class="large-8 columns">
                <ul class="inline-list selected-link">
                    <li>
                        <a href="/" class="hvr-underline-from-center">HOME</a>
                    </li>
                    <li>
                        <a href="/docs/tutorials/tutorials.html" class="hvr-underline-from-center">TUTORIALS</a>
                    </li>
                    <li>
                        <a href="https://github.com/Beaconstac" class="hvr-underline-from-center">GITHUB</a>
                    </li>
                    <li>
                        <a href="/docs/common-questions.html" class="hvr-underline-from-center">FAQ</a>
                    </li>
                    <li>
                        <a href="http://devblog.beaconstac.com/" class="hvr-underline-from-center">BLOG</a>
                    </li>
                    <li>
                        <a href="/docs/references.html" class="hvr-underline-from-center">REFERENCES</a>
                    </li>
                    <li>
                        <a href="http://support.beaconstac.com/support/discussions" class="hvr-underline-from-center">FORUM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>