<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand beaconstac-logo" href="http://beaconstac.com/">
	    	<img src="/images/beaconstac_logo_white.png"/>
	    </a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav header-links">
	      <li class="selected-link"><a href="/">DOCS HOME</a></li>
	      <li><a href="/docs/tutorials/tutorials.html">TUTORIALS</a></li>
          <li><a href="https://github.com/Beaconstac">DOWNLOADS</a></li>
	      <li><a href="/docs/common-questions.html">COMMON QUESTIONS</a></li>
	      <li><a href="http://devblog.beaconstac.com/">BLOG</a></li>
	      <li><a href="/docs/references.html">REFERENCES</a></li>
	      <li><a href="http://support.beaconstac.com/support/discussions">FORUM</a></li>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
