<div class="container">
    <div class="row sdk_reference_links">
        <div class="col-md-3 col-lg-3 col-md-offset-3 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-4">
                                <img src="/images/apple.png" height="auto" width="40px" alt="apple logo"/>
                            </div>
                            <div class="col-md-8 col-lg-8 col-xs-8" style="padding-left: 0">
                                <h3>iOS</h3>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
                            <ul>
                                <li>Tutorials</li>
                                <li>
                                    <a href="/docs/references/ios/index.html">API References</a>
                                </li>
                                <li><a href="https://github.com/Beaconstac/iOS-SDK">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-4">
                                <img src="/images/android.png" height="auto" width="40px" alt="apple logo"/>
                            </div>
                            <div class="col-md-8 col-lg-8 col-xs-8" style="padding-left: 0">
                                <h3>Android</h3>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
                            <ul>
                                <li>Tutorials</li>
                                <li>
                                    <a href="/docs/references/android/index.html">API References</a>
                                </li>
                                <li><a href="https://github.com/Beaconstac/Android-SDK">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>