<div class="row" style="margin-top:20px;">
    <h2 class="text-center">SDK References</h2>
    <div class="large-12 columns">
        <h3>This section contains information about Beaconstac's iOS and Android SDKs. Discover various methods, links to tutorials and GitHub repositories for successfully building indoor location and proximity apps.
        </h3>
    </div>
</div>


<div class="row" style="margin-top:20px;">
    <div class="large-12 columns">
        <div class="large-4 columns android-block" style="margin-left:80px;">
                <img class="center-image" src="/images/Apple logo.svg" height="auto" width="40px" alt="apple logo"/>
                <h3 class="text-center" style="margin-top:2px;">iOS</h3>
                <ul class="text-center">
                    <li>
                        <a href="/docs/tutorials/tutorials.html">Tutorials</a>
                    </li>
                    <li>
                        <a href="/docs/references/ios/index.html">API References</a>
                    </li>
                    <li style="border:none;">
                        <a href="https://github.com/Beaconstac/iOS-SDK">GitHub</a>
                    </li>
                </ul>
            </div>
            <div class="large-4 columns android-block" style="margin-right:80px;">
                <img class="center-image" src="/images/Android logo.svg" height="auto" width="40px" alt="apple logo"/>
                <h3 class="text-center" style="margin-top:2px;">Android</h3>
                <ul class="text-center">
                    <li>
                        <a href="/docs/tutorials/tutorials.html">Tutorials</a>
                    </li>
                    <li>
                        <a href="/docs/references/android/index.html">API References</a>
                    </li>
                    <li style="border:none;">
                        <a href="https://github.com/Beaconstac/Android-SDK">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
