/* bootstrap overloading styles */

#navbar{
	margin: 10px auto auto auto;
	width: 960px;
}



.beaconstac-logo{
    margin-top: 10px;
}
.beaconstac-logo img{
	height: auto;
	width: 160px;
	margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}

.container-fluid.jumbo-header{
	padding-left: 0px;
}

.jumbo-header .jumbotron{
	padding: 40px;
}

.jumbo-header .jumbotron h1{
	margin-top: 0;
}

.navbar.navbar-default{
	background-color: #36B1DA;
	min-height: 84px;
}

.navbar.navbar-default .container-fluid{
    margin-top: 7px;
}

.navbar.navbar-default a{
	color: #FFFFFF;
	text-shadow: none;
}

.navbar .nav li a{
	color: #FFFFFF;
}

.navbar .nav li:first-child{
	padding-left: 0px;
}

.github-link{
	background-color: #36B1DA;
	color: #FFFFFF;
	text-shadow: none;
}

.end-hr{
	padding: 0;
	margin: 20px 0 0 0;
}

footer{
	background: none;
	padding-top: 0px;
}

.nav .navbar-nav li.selected-link>a{
	color: red;
}

.footer{
	position: static;
	bottom: 0;
}

ol{
	margin-left: 20px;
}

ul{
    margin-left: 20px;
}

.container .inner ul li{
    padding-left: 0;
}

#bs-image, .screenshot{
    width: 50%;
    height: 50%;
}